main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
}

main img {
    overflow: hidden;
    width: 286px;
    height: 286px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; /* Adiciona transição para suavidade */
}

main img:hover {
    transform: scale(1.1); /* Aplica o zoom no hover */
}





  

  

